
/* Font-sizes */

.text-small {
    &, * {
        font-size: var(--sm-fs);
        line-height: var(--sm-lh);
    }
}

.text-xs {
    &, * {
        font-size: var(--xs-fs);
        line-height: var(--xs-lh);
    }
}


/* Font color */

.text-white{
    &, *{
        color: var(--white);
    }
}
.text-accent{
    &, *{
        color: var(--accent);
    }
}
.text-black{
    &, *{
        color: var(--black);
    }
}
.text-gray{
    &, *{
        color: var(--gray-text);
    }
}
.text-gradient{
    background-clip: text;
    /*-webkit-background-clip: text;*/
    -webkit-text-fill-color: transparent;
    background-image: var(--gradient);
}


/* Centering */
.centered, .text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}

/* Font-weights */

.font-weight-normal {
    &, * {
        font-weight: var(--fw);
    }
}
.font-weight-light {
    &, * {
        font-weight: var(--fw-light);
    }
}
.font-weight-semibold {
    &, * {
        font-weight: var(--fw-semibold);
    }
}
.font-weight-bold {
    &, * {
        font-weight: var(--fw-bold);
    }
}
.font-weight-extrabold {
    &, * {
        font-weight: var(--fw-extrabold);
    }
}