.clearfix:after {
    display: block;
    clear: both;
    content: "";
}

.z-index {
    position: relative;
    z-index: 1;
}

.bg-cover {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}



/* ---- Ratios from Bootstrap /// Sur l'élément parent, avec une div ou img à l'intérieur --- */
.ratio {
    position: relative;
    width: 100%;
    --aspect-ratio: 56.25%;

    &::before {
        display: block;
        padding-top: var(--aspect-ratio);
        content: "";
    }

    > * {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}


.ratio-1x1 {
    --aspect-ratio: 100%;
}
.ratio-16x9 {
    --aspect-ratio: 100%;
}
.ratio-4x3 {
    --aspect-ratio: 75%;
}