/*
// ---------    Font sizes and line-heights -----------
*/

:root {
    /* A changer en responsive si la topbar change de hauteur */
    --topbar-height: 74px;
    --topbar-mobile-height: 60px;

    --font-family: "Outfit", sans-serif;
    --font-family-alt: var(--font-family);

    /* basic font font-size (fs) et line-height (lh) */
    --fs: 18px;
    --lh: 1.6;

    /* small font */
    --sm-fs: 15.5px;
    --sm-lh: 1.45;

    /* xsmall font */
    --xs-fs: 13.5px;
    --xs-lh: 1.32;

    /* titles */
    --h1: 58px;
    --h1-lh: 1.08;
    --h2: 42px;
    --h2-lh: 1.1;
    --h3: 28px;
    --h3-lh: 1.2;
    --h3-sm: 19px;
    --h4: var(--fs);
    --h4-lh: 1.4;
    --h5-lh: 1.1;

    /* Font-weights */
    --fw: 400;
    --fw-semibold: 500;
    --fw-bold: 600;
    --fw-extrabold: 700;

    --fw-light: 400;
    /* No 300 for this site */
}

@media (max-width: 1560px) {
    :root {
        /* titles */
        --h1: 48px;
        --h2: 36px;
        --h3: 24px;
        --h3-sm: var(--fs);
        --h4: var(--fs);
        --h4-lh: var(--lh);
    }
}
@media (max-width: 1200px) {
    :root {
        --lh: 1.7;

        /* titles */
        --h1: 40px;
        --h2: 30px;
        --h3: 22px;
    }
}

@media (max-width: 640px) {
    :root {
        --fs: 15.5px;
        --lh: 1.5;

        --sm-fs: 13.5px;
        --sm-lh: 1.4;

        --xs-fs: 11.5px;
        --xs-lh: 1.32;

        /* titles */
        --h1: 30px;
        --h2: 24px;
        --h3: 21px;

        --h1-lh: 1.2;
        --h2-lh: 1.3;
        --h3-lh: 1.4;
        --h5-lh: 1.4;
    }
}



/*
// ---------    Colors -----------
*/

:root {
    --black: #131a28;
    /* Text black */
    --black-alt: #304164;
    /* Lighter black for secondary text */
    --black-title: #000;
    --white: #fff;
    --blue: #4d20ff;
    --accent: var(--blue);
    /* Links, text on white backgrounds */
    --accent-alt: var(--accent);
    /* Accent as background : buttons backgrounds etc. */
    --accent-dark: #2b0aaf;
    /* Buttons hover (darker --accent-alt) */

    --light-gray: #f4f6fa;
    --light-gray-alt: #e6eaef;
    /* Darker gray to separate sections */
    --gray-border: rgba(99, 123, 171, 0.1);
    --gray-text: #95aaca;
    --blue-help: #0085a1;

    --red: #a71c1c;
    --red-bg: #f8d7da;
    --orange: #f18e36;
    --green: #16a46e;

    --footer-bg: #233851;
}



/*
// ---------    Gradients -----------
*/

:root {
    --gradient-left: #2d00e0;
    --gradient-middle: #3412ff;
    --gradient-right: #9e00ff;
    --gradient-angle: 120deg;

    --gradient: linear-gradient(var(--gradient-angle), var(--gradient-left) 0%, var(--gradient-middle) 50%, var(--gradient-right) 100%);

    --gradient-btn: linear-gradient(var(--gradient-angle), var(--gradient-left) 0%, var(--gradient-middle) 65%, var(--gradient-right) 100%);
    /* La partie "gauche" avant 50% du gradient sert pour l'hover, après 50% c'est le gradient affiché avant le hover */


    --gradient-section: linear-gradient(114deg, #8000ce 0%, #24138d 34%, #2006a1 71%, #2a00d2 94%);

}




/*
// ---------    Buttons -----------
*/

:root {
    --btn-font-size: var(--sm-fs);
    --btn-font-weight: 400;
    --btn-line-height: 1.2;
    --btn-letter-spacing: 0.08ch;
    --btn-word-spacing: 0.8px;
    --btn-radius: 5px;
    --btn-padding: 12px 24px;
    /* On enlève la border-width du padding */
    --btn-outline-padding: 12.2px 25px;
    --btn-outline-border-width: 1.8px;
    --btn-min-width: 160px;

    --btn-primary: var(--accent);
    --btn-primary-text: var(--white);

    --btn-secondary: var(--light-gray-alt);
    --btn-secondary-text: var(--black-title);


    /* Espacement entre plusieurs boutons */
    --btns-gap: 6px 12px;
}

/*
// ---------    Max Widths -----------
*/

:root {
    --max-width: 95ch;
    --max-width-small: 78ch;
    --max-width-large: 130ch;

    /* left and right margin from side of viewport (max-width x padding) */
    --gutter: 32px;
}
@media (max-width: 560px) {
    :root {
        --gutter: 16px;
    }
}


/*
// ---------    Forms -----------
*/

:root {
    --input-border-radius: 8px;
    --label-left-margin: 12px;
    --input-border: rgba(0, 0, 0, 0.1);
}
