/* ------------------   Joli Mardi - Footer   ----------------- */


.footer {
    background: var(--footer-bg);

    &, a, p { font-size: var(--sm-fs); }

    a {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    .logo {
        font-size: var(--h3);
        text-decoration: none !important;
    }
}


.footer-cols {
    --gap-x: 20px;
    margin: 0 calc(-1 * var(--gap-x));
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;

    .col {
        width: 33.3%;
        padding: 20px var(--gap-x);
        box-sizing: border-box;
    }
}

@media (max-width: 860px) {
    .footer-cols .col { width: 50%; }
}
@media (max-width: 560px) {
    .footer-cols { margin-left: 0; margin-right: 0; }
}
@media (max-width: 460px) {
    .footer-cols .col { width: 100%; }
}



.footer-menu {
    h4 {
        padding-bottom: 12px;
        margin-bottom: 10px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        display: block;
        font-weight: var(--fw-semibold);
        letter-spacing: 0.06ch;
    }

    a {
        line-height: 1.2;
        padding: 8px 0;
        display: block;
    }
}





.social-links {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 20px auto 0;
    gap: 6px 6px;
    a {
        font-size: 24px;
        opacity: 0.4;
        padding: 8px;
        transition: .15s;

        &:hover {
            opacity: 1;
            &, * {
                color: #fff;
            }
        }
    }
}



.footer-line {
    background: var(--footer-bg);
    display: flex;
    gap: 0px 32px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 6px var(--gutter) 10px;

    &, p, a, a:hover {
        color: rgba(255, 255, 255, .7);
    }

    p,
    a {
        font-weight: var(--fw) !important;
        font-size: var(--xs-fs);
        letter-spacing: 0.05ch;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    .copyright {
        cursor: default;
    }
}

@media (max-width: 430px) {
    .footer-line {
        padding: 8px var(--gutter) 18px;

        .copyright {
            width: 100%;
        }
    }
}
