
/* -----------   Joli Mardi Layout base ----------------- */

/* ------   Font-family   ------------ */
body{
    min-height: 100vh;
    padding: 0;
    margin: 0;
    position: relative;
    min-width: 340px;
    background: #fff;
    display: flex;
    flex-direction: column;
}

.main{
    flex-grow: 1;
}