

/* ------------------   Joli Mardi - Max-width   ----------------- */

.max-width,
.max-width-small,
.max-width-large {
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--gutter);
    padding-right: var(--gutter);
    flex-grow: 1;
}
.max-width {
    max-width: var(--max-width);
}
.max-width-large {
    max-width: var(--max-width-large);
}
.max-width-small {
    max-width: var(--max-width-small)
}
.centered {
    text-align: center;
}


