/* ------------------   Joli Mardi - Menu & menu mobile   ----------------- */

/* Règles communes au menu mobile et topbar */
.menu {
    line-height: 1.2;
    transition: all 0.15s ease-out;
    padding: 0 0;

    &, li{
        list-style: none;
    }


    a {
        color: var(--black-title);
        display: inline-block;
        padding: 29px 18px 27px;
        position: relative;
        transition: all 0.15s ease-out;
        font-weight: 400;
        letter-spacing: 0.1ch;
        font-size: var(--sm-fs);
        text-decoration: none !important;

        &:after {
            position: absolute;
            content: '';
            left: 0px;
            right: 0px;
            bottom: 20px;
            height: 2px;
            background: var(--accent);
            margin: auto;
            opacity: 0;
            transition: .2s;
            display: block;
            width: 0;
        }

        &.is-active:after {
            opacity: 1;
            width: calc(100% - 36px);
            background: var(--accent) !important;
        }

        &.is-active {
            color: var(--accent) !important;
            /* cursor: default; */
        }

        &:hover {
            color: var(--accent);
        }
    }

    &, ul, li {
        list-style: none;
        margin: 0;
    }
}

/* Small topbar when scrolled <body class="topbar-small"> */
.topbar-small .menu a {
    padding-top: 22px;
    padding-bottom: 22px;
}

.topbar .menu {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
}

.mobile-menu {
    position: fixed;
    right: -110%;
    background: #fff;
    height: 100%;
    overflow: auto;
    transition: all 0.15s ease-out;
    z-index: 200;
    box-sizing: border-box;
    padding: 0 32px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
    width: 340px;
    max-width: 90%;
    font-size: var(--sm-fs);


    .mobile-menu-logo {
        max-width: 100%;
        padding: 10px 0;
        display: block;
        margin-top: 9px;
        width: 210px;
        height: auto;
    }

    .menu.level-0 {
        margin-top: 32px;
    }

    a:not(.btn) {
        display: flex;
        align-items: center;
        text-decoration: none;
        font-weight: var(--fw-semibold);
        width: 100%;
        color: #000;
        margin: 0;
        padding: 18px 0;
        /* letter-spacing: 0.02ch; */
        font-size: var(--fs);
        transition: all 0.15s ease-out;
        line-height: 1.2;

        &:hover {
            text-decoration: underline !important;
        }

        &.active {
            color: var(--accent);
        }

        &:after {
            display: none;
        }
    }

    .menu-logged-in, .menu-logged-out {
        .btn {
            width: 100%;
            margin-top: 12px;
            margin-bottom: 1em;
        }
    }
    .menu-logged-out {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;

    }
    .menu-logged-in {
        border-bottom: 1px solid var(--gray-border);
        padding-bottom: 1em;
        margin-bottom: 1em;

        a {
            display: flex;
            text-decoration: none;
            font-weight: 500;
            padding: 16px 0;
            .icon {
                margin-right: 8px;
            }
        }
    }
}
.mobile-menu-opened .mobile-menu {
    right: 0;
}

.menu-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 0;
    background: rgba(0, 0, 0, 0.6);
    cursor: pointer;
    transition: opacity .2s;
    opacity: 0;
    pointer-events: none;
    overflow: hidden;
    z-index: 102;
}
.mobile-menu-opened {
    .menu-overlay {
        opacity: 1;
        width: 100%;
        pointer-events: auto;
    }
}

.menu-bars {
    color: var(--black-title);
    font-size: var(--sm-fs);
    font-weight: 400;
    cursor: pointer;
    padding: 6px 0 4px;
    display: none;
    position: relative;
    z-index: 101;
    transition: all .2s ease-out;
    text-align: right;
    align-items: center;
    justify-content: right;
    line-height: 15px;
    padding-right: 2px;

    .icon {
        font-size: 28px;
        margin-left: 7px;
    }
    span {
        position: relative;
        top: -1px;
    }
}
.menu-close {
    color: var(--black-title);
    font-size: 24px;
    cursor: pointer;
    padding: 20px 24px 20px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    width: 24px;
    height: 24px;
    box-sizing: content-box;

    img {
        height: 32px;
        width: auto;
    }
}


/* ---- Menu mobile breakpoint ---- */
@media(max-width: 1080px) {

    .topbar .menu,
    .topbar .topbar-right {
        display: none;
    }
    .topbar .menu-bars {
        display: flex;
    }
    .topbar .logo {
        min-width: 0;
        flex-grow: 1;
    }

    .main {
        padding-top: var(--topbar-mobile-height);
    }

}





/* ------------------   Submenus   ----------------- */

/* Règles communes au menu mobile et topbar */
.menu.level-1 {
    --padding-x: 28px;
    --padding-y: 15px;
    position: absolute;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: calc(100% - 8px);
    width: auto;
    display: block;
    min-width: 190px;

    padding: 0;
    transition: transform .2s, opacity .2s;
    /* max-height: 0; */
    /* overflow: hidden; */
    transform: scale3d(.95, .95, .95) translate3d(0, -3%, 0);
    opacity: 0;

    float: left;
    left: -999em;
    padding: 0 var(--padding-x);

    /* Version hover : */
    /* padding: 6px var(--padding-x); */
    /* left: calc(-1 * var(--additional-padding)); */

    .level-1 > a {
        white-space: nowrap;
        padding: var(--padding-y) 0;
        border-bottom: 1px solid var(--gray-border);
        text-align: left;
        display: block;
        font-size: var(--xs-fs);
    }

    li:last-child > a {
        border-bottom: none;
    }

    a.is-active:after {
        display: none;
    }

}


.has-submenu:hover {
    .menu.level-1 {
        transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
        opacity: 1;
        left: calc(-1 * var(--additional-padding));
        padding: 6px var(--padding-x);
    }
}
.has-submenu {
    line-height: 1.2;
    transition: all 0.15s ease-out;
    padding: 0 0;
    position: relative;

    .menu-chevron-down {
        font-size: 20px;
        padding-left: 0px;
        position: relative;
        top: 2px;
        line-height: 0.8;
        color: var(--gray-text);
    }

    & > a {}
}


/* ---- Menu mobile breakpoint ---- */
@media(max-width: 1080px) {
    .menu.level-1 {
        display: block;
        position: initial;
        opacity: 1 !important;
        transform: none !important;
        box-shadow: none !important;
        padding: 0 !important;
        padding-left: 1em !important;
        font-size: var(--sm-fs);
        width: 100%;
        box-sizing: border-box;
        min-width: 0;
        margin-top: -10px;
        margin-bottom: 8px;
    }
    .menu.level-1 .level-1 > a {
        font-size: var(--sm-fs);
        color: var(--black-alt);
    }
}
