
/* -----------   Joli Mardi Typography ----------------- */

/* ------   Font-family   ------------ */
body{
    font-family: var(--font-family);
    font-size: var(--fs);
    letter-spacing: 0.2px;
    color: var(--black-alt);
    font-weight: var(--fw);
    line-height: var(--lh);
}



/* ------  Paragraphes   -------- */
p {
    margin: 0.8em 0 0.8em;
    display: block;
    font-size: var(--fs);
    line-height: var(--lh);
}
p.small, .small p{
    font-size: var(--sm-fs);
    line-height: var(--sm-lh);
}

p.very-small {
    font-size: var(--xs-fs);
}

p + p {
    margin-top: 0.4em;
}


/* ----------------     H1, H2, H3, P  ------------------------------------ */

h1, h2, h3, h4, .h1, .h2, .h3, .h4 {
    color: var(--black);
    margin: 0;
    padding: 0;
    position: relative;
    font-weight: var(--fw-extrabold);
    line-height: 1.2;

    a {
        font-weight: inherit !important;
        color: inherit !important;
        text-decoration: none !important;
    }
}

h1, .h1 {
    font-size: var(--h1);
    line-height: var(--h1-lh);
    letter-spacing: 0.01ch;
    margin-top: 16px;
    margin-bottom: 0.2em;
    color: var(--black-title);
}

h2, .h2 {
    font-size: var(--h2);
    line-height: var(--h2-lh);
    letter-spacing: 0.02ch;
    margin-top: 0.5em;
    margin-bottom: 0.6em;
    color: var(--black-title);
}

h3, .h3 {
    font-size: var(--h3);
    line-height: var(--h3-lh);
    margin-top: 1em;
    margin-bottom: 0.8em;
    color: var(--black-title);
    letter-spacing: 0.01ch;
    font-weight: var(--fw-bold);
}

h4, .h4 {
    font-size: var(--h4);
    line-height: var(--h4-lh);
    font-weight: var(--fw-bold);
    margin-top: 0.5em;
    letter-spacing: 0.02ch;
    padding-bottom: 8px;
}

h5, .h5, .subheading {
    font-weight: var(--fw-semibold);
    font-size: var(--sm-fs);
    line-height: var(--h5-lh);
    text-transform: uppercase;
    letter-spacing: 0.2ch;
    margin-bottom: 0;
    margin-top: 0;

    & + h1, & + h2 {
        margin-top: var(--fs);
    }
}



strong{
    font-weight: var(--fw-semibold);
}