/* -------------   Buttons   ------------ */

.btn{
    text-decoration: none;
    padding: var(--btn-padding);
    border-radius: var(--btn-radius);
    font-size: var(--btn-font-size);
    letter-spacing: var(--btn-letter-spacing);
    font-weight: var(--btn-font-weight);
    word-spacing: var(--btn-word-spacing);
    text-align: center;
    min-width: var(--btn-min-width);
    max-width: 100%;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    line-height: 1.2;


    box-shadow: rgba(77, 92, 255, 0.2) 0px 0px 0px 0px;
    transition: .15s;

    &:hover{
        box-shadow: rgba(77, 92, 255, 0.2) 0px 0px 0px 3px;
    }

    &.btn-disabled{
        opacity: 0.45;
        pointer-events: none;
        cursor: not-allowed;
    }
}
/* Icone svg dans un bouton */
.btn-icon{
    vertical-align: -0.21em;
    font-size: 1.2em;
}

.btn-small{
    padding: 10px 24px;
}

.btn-primary{
    background: var(--btn-primary);
    color: var(--btn-primary-text);
}

.btn-secondary{
    background: var(--btn-secondary);
    color: var(--btn-secondary-text);

    &:hover{
        box-shadow: none;
        filter: brightness(90%);
    }
}

.btn-outline{
    --outline-color: var(--accent);
    background-color: transparent;
    border: var(--btn-outline-border-width) solid var(--outline-color);
    padding: var(--btn-outline-padding);
    box-shadow: none !important;

    &:hover{
        box-shadow: none;
        background: var(--outline-color);
        color: #fff;
    }

    &.btn-black{
        --outline-color: var(--black-title);
        box-shadow: none !important;
    }
    &.btn-white{
        --outline-color: #fff;
        &, & *{ color: #fff !important; }
        box-shadow: none !important;
        &:hover{
            background: #fff !important;
            &, & *{ color: var(--black-title) !important; }
        }
    }
}

.btn-gradient{
    color: #fff;
    background: var(--gradient-btn);
    background-size: 120%;
    background-position-x: center;

    &:hover{
        background-size: 160%;
        background-position-x: 0;
    }
}

.btn-large{
    width: 100%;
}


.btn-link{
    padding-left: 0;
    padding-right: 0;
    background: none !important;
    box-shadow: none !important;
    color: var(--black-title);
    font-weight: var(--fw-bold);
    letter-spacing: 0.035ch;

    &:hover{
        text-decoration: underline;
    }
}

.btn-white{
    background: #fff;
    &, & *{ color: var(--black-title) !important; }

    &:hover{
        background: var(--black-title);
        &, & *{ color: #fff !important; }
    }
}
.btn-red{
    background: var(--red);
    color: #fff;

    &:hover{
        background: var(--black);
    }
}

.btn-link{
    letter-spacing: 0.04ch;
    color: var(--accent) !important;
    font-weight: var(--fw-semibold);
    svg{ margin-left: 0; transition: .15s; position: relative; left: 0; }
}
a.btn-link:hover{
    svg{ left: 2px;}
}

.btns{
    margin-top: 2em;
    display: flex;
    align-items: flex-start;
    gap: var(--btns-gap);
    flex-wrap: wrap;
}
.btns.centered, .centered .btns:not(.not-centered) {
    justify-content: center;
}


.delete-confirm{ cursor: pointer; }
