/* -------------   Buttons   ------------ */

.btn {
    text-decoration: none;
    padding: var(--btn-padding);
    border-radius: var(--btn-radius);
    font-size: var(--btn-font-size);
    letter-spacing: var(--btn-letter-spacing);
    font-weight: var(--btn-font-weight);
    word-spacing: var(--btn-word-spacing);
    text-align: center;
    min-width: var(--btn-min-width);
    max-width: 100%;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;


    box-shadow: rgba(77, 92, 255, 0.2) 0px 0px 0px 0px;
    transition: .15s;

    &:hover {
        box-shadow: rgba(77, 92, 255, 0.2) 0px 0px 0px 3px;
    }
}

.btn-primary {
    background: var(--btn-primary);
    color: var(--btn-primary-text);
}

.btn-secondary {
    background: var(--btn-secondary);
    color: var(--btn-secondary-text);

    &:hover {
        box-shadow: none;
        filter: brightness(90%);
    }
}

.btn-gradient {
    color: #fff;
    background: var(--gradient-btn);
    background-size: 120%;
    background-position-x: center;

    &:hover {
        background-size: 160%;
        background-position-x: 0;
    }
}


.btn-link{
    padding-left: 0;
    padding-right: 0;
    background: none !important;
    box-shadow: none !important;
    color: var(--black-title);

    &:hover{
        text-decoration: underline;
    }
}

.btns {
    margin-top: 2.4em;
    display: flex;
    align-items: flex-start;
    gap: 1em;
}