/* 3 colonnes par défaut */
.listing {
    --gap-x: 21px;
    --gap-y: 38px;
    --per-row: 3;
    margin: 24px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;
    gap: var(--gap-y) var(--gap-x);

    .card {
        width: calc(100% / var(--per-row) - (var(--per-row) - 1) / var(--per-row) * var(--gap-x));
        /* flex-grow: 1; */
    }

    &.centered{
        justify-content: center;
    }
}
.listing-4 {
    --per-row: 4;
}
.listing-2 {
    --per-row: 2;
}


/* Listings */
@media(max-width: 960px) {
    .listing-4 {
        --per-row: 3;
    }
}
@media(max-width: 830px) {
    .listing {
        --per-row: 2;
    }
}

@media(max-width: 620px) {
    .listing {
        gap: 16px 16px;
    }
    .listing-4 {
        --per-row: 2;
    }
}
@media(max-width: 440px) {
    .listing, .listing-2, .listing-4 {
        --per-row: 1;
    }
}

.card {
    border-radius: 8px;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.10);
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.1); */
    overflow: hidden;
    position: relative;
    display: block;
    transition: .15s;
    background: #fff;

    .thumbnail {
        background-color: var(--gray-text);
        transform: scale(1);
        transition: 0.25s;
    }
}

.card-body {
    flex: 1 1 auto;
    padding: .9em 1.2em 1.2em;
    font-size: var(--sm-fs);
    line-height: var(--sm-lh);
    background: #fff;
    position: relative;
    z-index: 1;

    & > *:first-child {
        margin-top: 0;
        padding-top: 0;
    }

    .title {
        font-weight: var(--fw-bold);
    }
}


a.card {
    cursor: pointer;

    &:hover {
        box-shadow: 2px 7px 28px 0px rgba(0, 0, 0, 0.2);
        box-shadow: rgba(77, 92, 255, 0.5) 0px 0px 0px 3px;
        .thumbnail {
            transform: scale(1.05);
        }
    }
}

a.card, .card a {

    &:not(.btn) {
        text-decoration: none;
        color: var(--black-title);
    }
}

[data-href]{
    cursor: pointer;
}
