/* 3 colonnes par défaut */
.listing {
    margin: 24px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 38px 21px;
}
.listing-4 {
    grid-template-columns: repeat(4, 1fr);
}
.listing-2 {
    grid-template-columns: repeat(2, 1fr);
}


/* Listings */
@media(max-width: 960px) {
    .listing-4 {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media(max-width: 830px) {
    .listing {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 620px) {
    .listing {
        gap: 16px 16px;
    }
    .listing-4 {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media(max-width: 440px) {
    .listing, .listing-2, .listing-4 {
        grid-template-columns: repeat(1, 1fr);
    }
}

.card {
    border-radius: 8px;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.10);
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.1); */
    overflow: hidden;
    position: relative;
    display: block;
    transition: .15s;
    background: #fff;

    .thumbnail {
        background-color: var(--gray-text);
        transform: scale(1);
        transition: 0.25s;
    }
}

.card-body {
    flex: 1 1 auto;
    padding: .9em 1.2em 1.2em;
    font-size: var(--sm-fs);
    line-height: var(--sm-lh);
    background: #fff;
    position: relative;
    z-index: 1;

    & > *:first-child {
        margin-top: 0;
        padding-top: 0;
    }

    .title {
        font-weight: var(--fw-bold);
    }
}


a.card {
    cursor: pointer;

    &:hover {
        box-shadow: 2px 7px 28px 0px rgba(0, 0, 0, 0.2);
        box-shadow: rgba(77, 92, 255, 0.5) 0px 0px 0px 3px;
        .thumbnail {
            transform: scale(1.05);
        }
    }
}

a.card, .card a {

    &:not(.btn) {
        text-decoration: none;
        color: var(--black-title);
    }
}