form, .form {
    font-size: var(--sm-fs);
    position: relative;
    margin: 1.6em auto 0;
}


.label {
    display: block;
    letter-spacing: 0px;
    margin: 32px 0 8px var(--label-left-margin);
    font-weight: var(--fw-semibold);
    color: var(--black-title);
}
label, .label {
    cursor: pointer;
}
.input:first-of-type > .label {
    margin-top: 8px;
}

/* Aide sous un champ */
.form-text {
    margin-top: .25rem;
    font-size: .875em;
    color: var(--gray-text);
}



/* --------  Error, champ invalide ------ */

.is-invalid {
    .label {
        color: var(--red);
    }
    select, input[type="text"],
    input[type="email"],
    input[type="number"],
    input[type="tel"],
    input[type="textfield"],
    input[type="password"],
    input[type="date"],
    input[type="time"],
    textarea,
    select {
        border-color: var(--red);
        outline: none;
    }
}
.invalid-feedback {
    color: var(--red);
    font-weight: var(--fw-semibold);
    font-size: var(--sm-fs);
    margin-left: 12px;
    margin-top: 4px;
}