form, .form {
    font-size: var(--sm-fs);
    position: relative;
    margin: 1.6em auto 0;
}


.label {
    display: block;
    letter-spacing: 0px;
    margin: 32px 0 8px var(--label-left-margin);
    font-weight: var(--fw-semibold);
    color: var(--black-title);
}
label, .label {
    cursor: pointer;
}
.input:first-of-type > .label {
    /*margin-top: 8px;*/
}

/* Sert pour les formulaires, deux champs sur la même ligne */
.line{
    display: flex;
    gap: 12px;
    align-content: center;
    padding: 3px 0;
    & > *{
        margin-top: 0;
        margin-bottom: 0;
    }
}

/* Aide sous un champ - Callout bleu fond gris + icône */
.help{
    font-size: var(--sm-fs);
    font-style: italic;
    line-height: 1.25;
    margin: 1em 0;
    color: var(--blue-help);
    position: relative;
    background: var(--light-gray);
    border-radius: 5px;
    padding: 8px 12px !important;
    padding-left: 32px !important;
    display: inline-block;
    &:before{
        position: absolute;
        content: "";
        top: calc(50% - 9px);
        left: 8px;
        background: url('/resources/icons/icon-help.svg') no-repeat center;
        background-size: contain;
        width: 18px;
        height: 18px;

    }
}



/* --------  Error, champ invalide ------ */

.is-invalid {
    .label {
        color: var(--red);
    }
    select, input[type="text"],
    input[type="email"],
    input[type="number"],
    input[type="tel"],
    input[type="textfield"],
    input[type="password"],
    input[type="date"],
    input[type="time"],
    textarea,
    select {
        border-color: var(--red);
        outline: none;
    }
}
.invalid-feedback {
    color: var(--red);
    font-weight: var(--fw-semibold);
    font-size: var(--sm-fs);
    margin-left: var(--label-left-margin);
    margin-top: 4px;
}
